@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: "Raleway", serif;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
*{
  font-family: "Raleway", serif;
}

@keyframes bg-scroll {
  0% {
    background-position-y: 0%;
  }
  100% {
    background-position-y: 100%;
  }
}
.animate-bg-scroll {
  animation: bg-scroll 10s linear infinite;
}